.overview-box__detail
                  img.overview-box__img(src=`/img/users/${guide.photo}`, alt='Lead guide')
                  span.overview-box__label #{guide.name} `${console.log("hello")}`
                  span.overview-box__text Steven Miller