extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create your account
            form.form.login--form(action="/api/v1/users/signup",method="post")
                .form__group
                    label.form__label(for='email') Full Name
                    input#name.form__input(type='email', placeholder='Full Name',name="name" required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com',name="email" required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••',name="password" required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••',name="passwordConfirm" required, minlength='8')
                .form__group
                    button.btn.btn--green Signup